$max-width: 1600px;
$miniScreenWidth: 1150px;
$BigScreenWidth: 1300px;
.SignUpPage {
  z-index: 98;
  width: 100%;
  position: absolute;
  margin-bottom: 160px;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  .SignUpBody {
    display: flex;
    align-items: center;
  }
  .SignUpContainer {
    @media (max-width: $max-width) {
      width: $miniScreenWidth;
    }
    width: $BigScreenWidth;
    margin: 0 auto;
    .logoInSignup {
      height: 100px;
      border-bottom: 1px solid #707070;
      display: flex;
      align-items: center;
      i {
        img {
          width: 136px;
          height: 40px;
        }
      }
    }
    .signUpPageTitle {
      width: 100%;
      @media (max-width: $max-width) {
        height: 100px;
      }
      height: 150px;
      margin: auto;
      font-size: 40px;
      font-family: "Noto Sans CJK KR";
      font-weight: bold;
      border-bottom: 1px solid #707070;
    }
    .joinUs {
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .myPage {
      display: flex;
      align-items: center;
      padding-left: 37px;
    }
    .signUpInputContainer {
      width: 100%;
      .introduceInput {
        @media (max-width: $max-width) {
          padding-top: 30px;
        }
        padding: 40px 0 20px 22px;
        margin: 0;
        @media (max-width: $max-width) {
          font-size: 18px;
        }
        font-size: 25px;
        font-family: "Noto Sans CJK KR";
        color: #848484;
        border-bottom: 1px solid #d2d2d2;
      }
      .inputSection {
        @media (max-width: $max-width) {
          padding: 40px 0;
        }
        width: 650px;
        height: 270px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .eachInput {
          display: flex;
          height: 50px;
          align-items: center;
          div {
            width: 75%;
            padding-left: 10px;
            margin-left: auto;
            border: 1px solid black;
            display: flex;
            border-radius: 2px;
            height: 100%;
            input {
              width: 90%;
              border: none;
              outline: none;
            }
            label {
              width: 10%;
              height: 100%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
          input {
            margin-left: auto;
            width: 75%;
            padding-left: 10px;
            border: 1px solid black;
            outline: none;
            height: 100%;
            background-color: transparent;
            label {
              width: 25%;
            }
          }
        }
      }
    }
  }
  .Submitbutton {
    width: 500px;
    height: 40px;
    margin: 40px auto 0 auto;
    display: flex;
    justify-content: space-between;
    button {
      width: 48%;
      height: 100%;
      outline: none;
      @media (max-width: $max-width) {
        font-size: 16px;
      }
      font-size: 20px;
      font-family: "Noto Sans CJK KR";
    }
    .submit {
      border: none;
      background-color: #737373;
      color: #ffffff;
    }
    a {
      width: 48%;
      height: 100%;
      .cancle {
        width: 100%;
        background-color: white;
        border: 1px solid #707070;
        color: #848484;
      }
    }
  }
}
.banner {
  width: 370px;
  height: 250px;
  margin-left: 66px;
  background-color: #9a9a9a;
}
