@import "../../variable.scss";
.uploadPage {
  width: $miniScreenWidth;
  margin: 0 auto 160px auto;
  .introducing {
    display: flex;
    padding: 55px 0 55px 37px;
    border-bottom: 2px solid #707070;
    h1 {
      font-size: 36px;
      font-weight: bold;
    }
    p {
      margin-left: 23px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-bottom: 5px;
      font-size: 12px;
    }
  }
  .selectPostOption {
    display: flex;
    padding: 44px 0 44px 41px;
    border-bottom: 1px solid #707070;
    label {
      margin-right: 33px;
      display: flex;
    }
    div {
      margin-right: 8px;
      width: 20px;
      height: 20px;
      border-radius: 50%;
      border: 1px solid #707070;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .checkbox-round {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      vertical-align: middle;
      border: none;
      appearance: none;
      -webkit-appearance: none;
      outline: none;
      cursor: pointer;
      &:checked {
        background-color: $main-color;
      }
    }
  }
  .uploadImgSection {
    display: flex;
    padding: 60px 0 60px 37px;
    border-bottom: 1px solid #707070;
    .imgCount {
      font-size: 16px;
      padding-right: 20px;
    }
    .uploadImgs {
      display: flex;
      flex-direction: column;
      .imgs {
        display: flex;
        .eachImg {
          width: 240px;
          height: 240px;
          background-color: #9a9a9a;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          margin: 0 16px;
          .img {
            color: white;
            margin-bottom: 12.5px;
            width: 30px;
            height: 25px;
          }
          p {
            margin: 0;
            font-weight: bold;
            color: white;
          }
        }
      }
      p {
        margin-top: 20px;
        margin-left: 16px;
      }
    }
  }
  .productInfo,
  .productPrice,
  .productLocation,
  .productOpenChatting {
    padding: 60px 0 60px 36px;
    height: auto;
    border-bottom: 1px solid #707070;
    .price,
    .location,
    .title,
    .openChatting {
      height: 64px;
    }
    .introduce {
      height: 220px;
      margin-top: 50px;
    }
    div {
      display: flex;
      align-items: center;
      h3 {
        height: 100%;
        width: 67px;
        margin-top: 40px;
        margin-right: 60px;
      }
      textarea {
        height: 100%;
        padding: 0;
      }
      input,
      textarea {
        box-sizing: border-box;
        width: 800px;
        font-size: 14px;
        color: black;
        padding: 20px 0 20px 12px;
      }
      .priceInput {
        width: 375px;
      }
      p {
        height: 100%;
        margin-left: 16px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
  }
  .completion {
    display: flex;
    justify-content: flex-end;
    height: 64px;
    margin-top: 60px;
    button {
      width: 200px;
      height: 100%;
      background-color: $main-color;
      color: #ffffff;
      font-size: 24px;
      font-weight: bold;
      border: none;
    }
  }
}
.checkbox-round {
  width: 12px;
  height: 12px;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: none;
  &:checked {
    background-color: #4a55b5;
  }
}
