$miniScreenWidth: 1150px;
$max-width: 1600px;

.myPage {
  width: 100%;
  .GoodsInfo {
    width: $miniScreenWidth;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    .goodsImg {
      width: 400px;
      height: 400px;
    }
    .GoodsDetails {
      width: 750px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  }
}
