@import "../../variable.scss";
.Product {
  width: 100%;
  margin-bottom: 140px;
  .GoodsInfo {
    width: $miniScreenWidth;
    margin: 0 auto;
    margin-top: 100px;
    display: flex;
    .goodsImg {
      width: 400px;
      height: 400px;
    }
    .GoodsDetails {
      width: 750px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      margin-left: 40px;
      color: #686868;
      .iconInDetail {
        margin-right: 12px;
      }
      .goodsTitle {
        font-size: 36px;
        font-weight: bold;
        margin: 0 0 12px 0;
      }
      .Price {
        display: flex;
        font-size: 32px;
        font-weight: bold;
        .won {
          font-weight: bold;
          box-sizing: border-box;
          padding-top: 14px;
          font-size: 20px;
          margin: 0;
        }
      }
    }
    .line {
      margin: 40px 0 12px 0;
      border-bottom: 1px solid #707070;
    }
    .heartCount {
      display: flex;
      align-items: center;
      p {
        margin: 0 0 0 4px;
      }
    }
    .chattingLink {
      display: flex;
      align-items: center;
      margin-top: 35px;
    }
    .wirter {
      display: flex;
      align-items: center;
      margin-top: 28px;
      p {
        margin: 0;
      }
    }
    .removeProduct {
      display: flex;
      justify-content: flex-end;
      margin-top: 5px;
      button {
        width: 120px;
        height: 40px;
        border: 2px solid $main-color;
        color: $main-color;
        font-size: 18px;
        font-weight: bold;
        background-color: white;
      }
    }
  }
}
