@import "../../variable.scss";
.goodsComponent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.myPageProduct {
  display: flex;
  flex-wrap: wrap;
  margin-left: 26px;
  .GoodsBoxEachBox {
    margin: 0 10px 16px 10px;
    width: 160px; //기존값 171px
    .GoodsImg {
      width: 160px;
      height: 160px;
    }
    .GoodsInfo {
      .goodsTitle {
        font-size: 14px;
        padding: 8px 0 0 13px;
      }
      .goodsPrice {
        padding: 0 0 4px 13px;
        p {
          font-size: 20px;
        }
        .won {
          margin-top: 6px;
        }
      }
    }
    .GoodsLocation {
      font-size: 14px;
      i {
        font-size: 12px;
      }
    }
  }
}
.GoodsBoxEachBox {
  @media (max-width: $max-width) {
    width: 220px;
  }
  width: 242px;
  border: 1px solid black;
  box-sizing: border-box;
  background-color: white;
  .GoodsImg {
    @media (max-width: $max-width) {
      width: 220px;
      height: 220px;
    }
    width: 242px;
    height: 242px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9a9a9a;
    position: relative;
    img {
      color: white;
      font-size: 30px;
      font-family: "Noto Sans CJK KR";
      font-weight: bold;
    }
  }
  .GoodsInfo {
    width: 100%;
    border-bottom: 1px solid #707070;
    position: relative;
    .goodsTitle {
      @media (max-width: $max-width) {
        padding: 11px 0 0 16px;
        font-size: 16px;
      }
      margin: 0;
      padding: 11px 0 0 16px;
      font-size: 18px;
      font-family: "Noto Sans CJK KR";
    }
    .goodsPrice {
      padding: 4px 0 0 16px;
      margin: 0;
      display: flex;
      font-family: "Noto Sans CJK KR";
      font-weight: bold;
      padding-bottom: 12px;
      p {
        margin: 0;
        font-size: 24px;
        margin-right: 4px;
      }
      .won {
        font-size: 14px;
        margin-top: 11px;
      }
    }
    .myPagetypeofGoods {
      width: 39px;
      height: 17px;
      right: 8px;
      bottom: 8px;
      p {
        font-size: 8px;
        margin: auto;
      }
    }
    .mainPagetypeOfGoods {
      width: 56px;
      height: 24px;
      right: 18px;
      bottom: 16px;
      p {
        font-size: 12px;
        margin: 3px auto 4px auto;
      }
    }
    .typeOfGoods {
      position: absolute;
      background-color: $main-color;
      color: white;
      border-radius: 5px;
      display: flex;
      .typeWord {
        font-weight: bold;
        font-family: "Noto Sans CJK KR";
        display: flex;
      }
    }
  }
  .GoodsLocation {
    display: flex;
    align-items: center;
    padding: 5px 0;
    i {
      font-size: 16px;
      margin: 0 0 0 10px;
      display: flex;
      align-items: center;
    }
    p {
      margin: 0 0 0 8px;
    }
  }
}
